<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Flask Blog Lite{% endblock %}</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="container">
    <h1><a href="{{url_for('home')}}">Flask Blog Lite</a></h1>
    <nav>
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('new_post')}}">New Post</a>
    </nav>
  </header>

  <main class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div>
        {% for message in messages %}
        <div class="card">
            {{message}}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}




    <!-- Page-specific content goes here -->
     {% block content %} {% endblock %}
  </main>

  <footer class="container footer">Made with Flask</footer>
</body>
</html>

