{% extends "base.html" %}
{% block title %} Home - Flask Blog Lite {% endblock%}
{% block content %}
    <div>

      {% if posts %}
      {% for post in posts %}
      <article class="card">
        <h3><a href="{{url_for('post_detail',post_id=post.id)}}">{{post.title}}</a></h3>
        <small class="muted">{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</small>
        <p>{{post.body[:200]}} {% if post.body | length > 200 %}..{% endif %}</p>
        <a class="btn" href="{{url_for('post_detail',post_id=post.id)}}">Read more</a>
      </article>

      {% endfor %}
      {% endif %}
    </div>
{% endblock %}